<IfModule mod_rewrite.c>
    RewriteEngine On

    # Enforce https for every path except '/api.php' and '/api/{location}'
    RewriteCond %{HTTPS} off
    RewriteRule !^/?api(\.php|/([a-z]*))$ https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301]
    RewriteRule ^/?api(?:/(.*))?$ /api.php [L]
</IfModule>