@import "../fonts/cmu-serif/cmun-serif.css";
@import "./desktop";
@import "./tabs";

:root {
    --background-color: #fdfdfd;
    --foreground-color: #020202;
}

body {
    background-color: var(--background-color);
    color: var(--foreground-color);
    font-family: "Computer Modern Serif", serif;
    margin: 1em auto;
    max-width: 90%;
    padding:0 .62em;
}
h1,h2,h3 {
    line-height: 1.2;
}

@media (prefers-color-scheme: dark){
    :root {
	--background-color: #020202;
	--foreground-color: #fdfdfd;
    }
    a:link {
	color: #9cf;
    }
    a:hover, a:visited:hover {
	color: #cef;
    }
    a:visited {
	color: #c9f;
    }
}

@media print{
    body{
	max-width:none
    }
}
